/* login.html */
.body-login {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../images/BGball2.png');
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
}

.login-container {
    width: 900px;
    padding: 30px;
}

.login-container h3 {
    color: white;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
    font-family: 'Inter', sans-serif;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.form-group {
    margin-bottom: 20px;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group label {
    display: block;
    color: white;
    margin-bottom: 5px;  
}

.form-group input {
    width: 70%;
    padding: 12px;
    border-radius: 30px;
    border: none;
    font-size: 16px;
    box-sizing: border-box;
}

.error-message {
    color: #8d0202;
    font-size: 14px;
    margin-top: 5px;
    display: none;
    text-align: center;
}

.login-btn {
    width: 20%;
    padding: 14px;
    background-color: #35cd38;
    color: white;
    border: none;
    border-radius: 30px;
    font-size: 18px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
    margin-top: 10px;
}

.login-btn:hover {
    background-color: #0c4731;
}

/* Thanh điều hướng */
.navbar {
    background-color: #80E8C0;
    list-style: none;
    margin: 0;
    padding: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.navbar li {
    width: 240px;
    text-align: center;
    border-right: 1px solid #000000;
}

.navbar li:last-child {
    border-right: none;
}

.navbar a {
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    line-height: 45px;
    display: block;
}

.navbar a:hover {
    background-color: #023532;
    color: #FFFFFF;
}

.navbar a.active {
    background-color: #023532;
    color: #FFFFFF;
}

/* Dropdown menu */
.dropdown-menu {
    display: none;
    position: fixed;
    background-color: #f9f9f9;
    min-width: 107px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1001;
    top: 45px;
    right: 10px;
    border-radius: 4px;
}

.dropdown-menu.show {
    display: block;
}

.dropdown-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.dropdown-menu li {
    padding: 9px 11px;
    cursor: pointer;
}

.dropdown-menu li:hover {
    background-color: #ddd;
}

/* Hamburger Icon */
.hamburger-icon {
    position: fixed;
    top: 2px;
    right: 2px;
    font-size: 24px;
    cursor: pointer;
    z-index: 1002;
    color: #000;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.hamburger-icon:hover {
    background-color: rgb(129, 170, 134);
}

/* bookingStats.html */
.body-bookingStats {
    width: 100%;
    height: 641px;
    margin: 0;
    padding: 0;
    background: linear-gradient(180deg, #0F4E36 0%, #6FFFC8 100%);
}

/* Phần nav lịch đặt sân */
.date-navigation {
    display: flex;
    align-items: center;
    gap: 25px;
    justify-content: center;
    margin-top: 55px;
}

.today-button {
    width: 160px;
    height: 50px;
    background: #FFFFFF;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    cursor: pointer;
}

.date-selector {
    width: 660px;
    height: 50px;
    background: #FFFFFF;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.current-date {
    font-weight: 700;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
}

.nav-button {
    width: 54px;
    height: 52px;
    border: none;
    background: transparent;
    cursor: pointer;
    font-size: 20px;
}

.today-button:hover, .nav-button:hover {
    color: grey;
}

.booking-title {
    font-weight: 700;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
}

/* Phần table lịch đặt sân */
.table-container {
    max-height: 560px;
    overflow-y: auto; 
    width: 80%;
    margin: 15px auto;
}

.booking-table-header {
    background-color: #000000;
    position: sticky;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-family: 'Inter', sans-serif;
}

th, td {
    border: 1px solid #14734e;
    padding: 10px;
    text-align: center;
}

thead th {
    background-color: #000000;
    color: #FFFFFF;
    font-weight: 700;
    position: sticky;
    top: 0;
}

td:first-child {
    height: 40px;
    background-color: #B3F8C1;
    color: #000000;
}

td:not(:first-child) {
    height: 40px;
    color: #000000;
    background-color: #FFFFFF;
    cursor: pointer;
}

td.bookable:hover {
    background-color: #B3F8C1;
    cursor: pointer;
}

tr:hover {
    background-color: transparent;
}

tr:hover td:first-child {
    background-color: #B3F8C1;
}

td:not(.bookable):not(:first-child):hover {
    background-color: #FFFFFF;
    cursor: default;
}

/* Định dạng ngày hiện tại trên thanh header */
th.today {
    background-color: #8B0000;
    color: #FFFFFF;
}

/* serviceStats.html */
.body-serviceStats {
    position: relative;
    width: 1440px;
    height: 1290px;
    background: linear-gradient(180deg, #0F4E36 0%, #6FFFC8 100%);
    margin: 0;
    padding: 0;
}

/* Bảng quản lý đồ ăn */
.eat-table-container {
    width: 80%;
    margin: 90px auto;
    padding: 0;
    overflow-y: auto;
    height: 560px;
    /* background-color: #FFFFFF; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}

.eat-table-header {
    background-color: #000000;
    position: sticky;
}

/* Bảng quản lý trang phục */
.wear-table-container {
    width: 80%;
    margin: 121px auto;
    padding: 0;
    overflow-y: auto;
    height: 560px;
    /* background-color: #FFFFFF; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}

.wear-table-header {
    background-color: #000000;
    position: sticky;
}

/* Tag 2 bảng sp */
.tag-eating {
    width: 50px;
    height: 50px;
    background-color: #FFFFFF;
    left: 5px;
    top: 186px;
    border-radius: 50px;
    cursor: pointer;
    border: none;
    position: fixed;
}

.tag-wearing {
    width: 50px;
    height: 50px;
    background-color: #FFFFFF;
    left: 5px;
    top: 242px;
    border-radius: 50px;
    cursor: pointer;
    border: none;
    position: fixed;
}

.tag-booking:hover,
.tag-calendar:hover,
.tag-eating:hover,
.tag-wearing:hover {
    left: 10px;
    background-color: rgb(129, 170, 134);
}

/* Tag thêm/sửa/xóa */
.tag-add {
    width: 80px;
    height: 50px;
    background-color: #FFFFFF;
    right: 5px;
    top: 130px;
    border-radius: 50px;
    cursor: pointer;
    border: none;
    position: fixed;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    cursor: pointer;
}

.tag-edit {
    width: 80px;
    height: 50px;
    background-color: #FFFFFF;
    right: 5px;
    top: 186px;
    border-radius: 50px;
    cursor: pointer;
    border: none;
    position: fixed;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    cursor: pointer;
}

.tag-delete {
    width: 80px;
    height: 50px;
    background-color: #FFFFFF;
    right: 5px;
    top: 242px;
    border-radius: 50px;
    cursor: pointer;
    border: none;
    position: fixed;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    cursor: pointer;
}

.tag-add:hover,
.tag-edit:hover,
.tag-delete:hover {
    background-color: rgb(129, 170, 134);
    right: 20px;
}

/* saleStats.html */
.body-saleStats {
    position: relative;
    width: 1440px;
    height: 1935px;
    background: linear-gradient(180deg, #0F4E36 0%, #6FFFC8 100%);
    margin: 0;
    padding: 0;
}

/* tag lịch */
.tag-booking {
    width: 50px;
    height: 50px;
    background-color: #FFFFFF;
    left: 5px;
    top: 130px;
    border-radius: 50px;
    cursor: pointer;
    border: none;
    position: fixed;
}

.tag-calendar {
    width: 50px;
    height: 50px;
    background-color: #FFFFFF;
    left: 5px;
    top: 298px;
    border-radius: 50px;
    cursor: pointer;
    border: none;
    position: fixed;
}

/* Form lịch */
#calendar-container {
    position: fixed;
    top: 242px;
    left: 65px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 15px;
    z-index: 1000;
    width: 150px;
    height: 200px;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.year-selector {
    display: flex;
    align-items: center;
    gap: 10px;
}

#current-year {
    font-size: 18px;
    font-weight: bold;
}

#prev-year, #next-year {
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
    color: #555;
}

.months-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.month-button {
    padding: 8px 0;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    font-size: 14px;
}

.month-button:hover {
    background-color: #e0e0e0;
}

.month-button.current-month {
    background-color: #4CAF50;
    color: white;
}

.hidden {
    display: none;
}

/* Bảng thống kê doanh số đặt sân */
.Stats-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.booking-dashboard {
    width: 60%;
    margin-top: 100px;
    margin-left: 110px;
    padding: 0;
    overflow-x: auto;
    height: 530px;
    /* background-color: #FFFFFF; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.booking-result {
    width: 297px;
    margin-top: -68px;
    margin-right: 38px;
    border-radius: 0px;
    padding: 0 38px;
    height: 277px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: #ffffff;
    font-family: 'Inter', sans-serif;
}

/* Bảng thống kê doanh số đồ ăn */
.eating-dashboard {
    width: 60%;
    margin-top: 80px;
    margin-left: 110px;
    padding: 0;
    overflow-x: auto;
    height: 530px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.eating-result {
    width: 297px;
    margin-top: -68px;
    margin-right: 38px;
    border-radius: 0px;
    padding: 0 38px;
    height: 277px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: #ffffff;
    font-family: 'Inter', sans-serif;
}

/* Bảng thống kê doanh số trang phục */
.wearing-dashboard {
    width: 60%;
    margin-top: 115px;
    margin-left: 110px;
    padding: 0;
    overflow-x: auto;
    height: 530px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.chart-wrapper {
    width: 1115px;
    height: 512px;
}

#profitEatingChart {
    width: 100% !important;
    height: 100% !important;
}

.wearing-result {
    width: 297px;
    margin-top: -68px;
    margin-right: 38px;
    border-radius: 0;
    padding: 0 38px;
    height: 277px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: #000000;
    font-family: 'Inter', sans-serif;
}

/* invoiceStats.html */
.body-invoiceStats {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: linear-gradient(180deg, #0F4E36 0%, #6FFFC8 100%);
}

/* Tùy chỉnh thanh cuộn */
.booking-dashboard::-webkit-scrollbar,
.wearing-dashboard::-webkit-scrollbar,
.eating-dashboard::-webkit-scrollbar {
    height: 6px;
}

.table-container::-webkit-scrollbar,
.eat-table-container::-webkit-scrollbar,
.wear-table-container::-webkit-scrollbar {
    width: 5px;
}

.table-container::-webkit-scrollbar-track,
.booking-dashboard::-webkit-scrollbar-track,
.wearing-dashboard::-webkit-scrollbar-track,
.eating-dashboard::-webkit-scrollbar-track,
.eat-table-container::-webkit-scrollbar-track,
.wear-table-container::-webkit-scrollbar-track {
    /* background: #ffffff; */
    border-radius: 5px;
}

.table-container::-webkit-scrollbar-thumb,
.booking-dashboard::-webkit-scrollbar-thumb,
.wearing-dashboard::-webkit-scrollbar-thumb,
.eating-dashboard::-webkit-scrollbar-thumb,
.eat-table-container::-webkit-scrollbar-thumb,
.wear-table-container::-webkit-scrollbar-thumb {
    background: #0b4f3a;
    border-radius: 10px;
}

.table-container::-webkit-scrollbar-thumb:hover,
.booking-dashboard::-webkit-scrollbar-thumb:hover,
.wearing-dashboard::-webkit-scrollbar-thumb:hover,
.eating-dashboard::-webkit-scrollbar-thumb:hover,
.eat-table-container::-webkit-scrollbar-thumb:hover,
.wear-table-container::-webkit-scrollbar-thumb:hover {
    background: #797878;
}